<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <title>About Us</title>
</head>
<body>
<header>
    <div class="jumbotron">
      <h1>Nettoie ton visage</h1>
      <p>Acne Detection</p>
    </div>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/recommendations">Recommendations</a></li>
        <li><a href="/about">About Us</a></li>
        
      </ul>
    </nav>
</header>



<div class="team-members">
      <div class="container">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Team Members</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="{{ url_for('static',filename='images/buwung_210526 - Andri Aryarasyid.jpg') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Andri Aryarasyid</h4>
                <span>Machine Learning</span>
                <p>Electrical Engineering
                Telkom University</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="{{ url_for('static',filename='images/IMG_20210321_133750 - Muhammad Dimas M0121214.jpg') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Muhammad Dimas</h4>
                <span>Machine Learning</span>
                <p>Electrical Engineering
                Telkom University</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="{{ url_for('static',filename='images/IMG-20210526-WA0064 - Linda kushernawati.jpg') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Linda Kushernawati</h4>
                <span>Cloud Computing</span>
                <p>Informatics
                Universitas Muhammadiyah Sidoarjo</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="{{ url_for('static',filename='images/Gambar PNG 11 - Loudry Achmad.png') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Loudry Achmad</h4>
                <span>Cloud Computing</span>
                <p>Telecommunication Engineering
                Telkom University</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="{{ url_for('static',filename='images/IMG_20210301_192320 - Mauladisra Mefid.jpg') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Mauladisra Mefid</h4>
                <span>Mobile Development</span>
                <p>Telecommunication Engineering
                Telkom University</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="{{ url_for('static',filename='images/foto - Angela Tiurma.jpeg') }}" alt="">
              </div>
              <div class="down-content">
                <h4>Angela Tiurma</h4>
                <span>Mobile Development</span>
                <p>Telecommunication Engineering
                Telkom University</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<footer>
    <p>Nettoie ton visage &copy; 2021</p>
</footer>


</body>
</html>